h1{
    color: maroon;
    font-size: 3.5em;
    text-align: center;
}

.post{
    background-color: burlywood;
    height: 150px;
    padding: 10px;
    margin-bottom: 15px;
}

.user{
    font-style: italic;
}

.post a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 15px;
}

.create{
    text-decoration: none;
    color: white;
    background-color: rgb(63, 63, 252);
    padding: .5em;
    border-radius: 30px;
    margin-left: 43%;
    font-size: 1.5em;
}

button{
    position: relative;
    left: 150px;
    bottom: 25px;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 15px;
}